TestService/Service References/TestSitetwkDbsDash2Service/CoreService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WWTS.ServiceApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WWTS.ServiceApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39616/CoreService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="FilterData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Col" nillable="true" type="tns:Col" />
      <xs:element minOccurs="0" name="CustAssoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCallDetail" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrgBranchList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgFilterList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgFilterType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgType" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Rows" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPermission" nillable="true" type="tns:UserPermission" />
      <xs:element minOccurs="0" name="VendorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilterData" nillable="true" type="tns:FilterData" />
  <xs:complexType name="Col">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerCamparatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCamparatorValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDivisionCamparatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubDivisionCamparatorValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkOrderType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Col" nillable="true" type="tns:Col" />
  <xs:complexType name="UserPermission">
    <xs:sequence>
      <xs:element minOccurs="0" name="DashCustomerFilterOff" type="xs:boolean" />
      <xs:element minOccurs="0" name="DashVendor" type="xs:boolean" />
      <xs:element minOccurs="0" name="DashVendorFilterOff" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserPermission" nillable="true" type="tns:UserPermission" />
  <xs:complexType name="FilterDetailData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColDatas" nillable="true" type="tns:ArrayOfCol" />
      <xs:element minOccurs="0" name="CustAssoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCallDetail" type="xs:boolean" />
      <xs:element minOccurs="0" name="OrgBranchList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgFilterList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgFilterType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgType" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Rows" nillable="true" type="q2:ArrayOfint" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPermission" nillable="true" type="tns:UserPermission" />
      <xs:element minOccurs="0" name="VendorCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilterDetailData" nillable="true" type="tns:FilterDetailData" />
  <xs:complexType name="ArrayOfCol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Col" nillable="true" type="tns:Col" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCol" nillable="true" type="tns:ArrayOfCol" />
</xs:schema>