WWTS.ServiceApp.Tests/Service References/WWTSService/CoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CoreService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:39616/CoreService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:39616/CoreService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:39616/CoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WWTS.ServiceApp" />
      <xsd:import schemaLocation="http://localhost:39616/CoreService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WWTS.Data" />
      <xsd:import schemaLocation="http://localhost:39616/CoreService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WWTS.Data.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWWTSService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IWWTSService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWWTSService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IWWTSService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IWWTSService_GetUserEmailLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserEmailLogs" />
  </wsdl:message>
  <wsdl:message name="IWWTSService_GetUserEmailLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserEmailLogsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWWTSService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWWTSService/GetData" message="tns:IWWTSService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWWTSService/GetDataResponse" message="tns:IWWTSService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IWWTSService/GetDataUsingDataContract" message="tns:IWWTSService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWWTSService/GetDataUsingDataContractResponse" message="tns:IWWTSService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserEmailLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/IWWTSService/GetUserEmailLogs" message="tns:IWWTSService_GetUserEmailLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWWTSService/GetUserEmailLogsResponse" message="tns:IWWTSService_GetUserEmailLogs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWWTSService" type="tns:IWWTSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IWWTSService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IWWTSService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserEmailLogs">
      <soap:operation soapAction="http://tempuri.org/IWWTSService/GetUserEmailLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoreService">
    <wsdl:port name="BasicHttpBinding_IWWTSService" binding="tns:BasicHttpBinding_IWWTSService">
      <soap:address location="http://localhost:39616/CoreService.svc/web" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>